@use "global" as *;

.access {
  background-color: $black;
  color: $white;
  padding-top: rem(100);
  overflow-x: clip;

  @include mq("md") {
    padding-top: rem(160);
  }
}

.access__inner {}

.access__container {}

.access__heading {}

.access__read {
  margin-top: rem(40);
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(32/20);
  letter-spacing: 0.2em;
  text-align: center;
  overflow-wrap: anywhere;
  word-break: keep-all;

  @include mq("md") {
    font-size: rem(32);
    line-height: calc(54/32);
  }
}

.access__wrapper {
  padding-inline: $padding-sp;

  @include mq("md") {
    display: contents;
  }
}

.access__content {
  display: contents;

  @include mq("md") {
    display: grid;
    grid-template-columns: calc(600/1440*100%) 1fr;
    align-items: center;
    margin-top: rem(80);
  }
}

.access__img {
  margin-top: rem(40);
  margin-inline: calc(50% - 50vw);

  @include mq("md") {
    margin: initial;
  }
}

.access__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include mq("md") {
    aspect-ratio: 600/720;
  }
}

.access__info {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: initial;
    padding-top: rem(24);
    padding-inline: min(calc(120/1440*100vw), rem(120));
  }
}

.access__wrap {
  padding-block: rem(7);
  border-bottom: 1px solid;
  font-size: rem(14);
  line-height: calc(20/14);
  letter-spacing: 0.25em;

  @include mq("md") {
    display: grid;
    grid-template-columns: auto calc(382/568*100%);
    gap: rem(40);
    padding-block: rem(8);
    padding-inline: rem(16);
  }
}

.access__wrap:first-child {
  border-top: 1px solid;
}

.access__term {}

.access__description {
}

.access__description span {
  margin-left: 6.25em;
}

.access__buttons {
  margin-top: rem(40);
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(12);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
    grid-template-columns: repeat(2, 1fr);
    gap: rem(72);
    width: fit-content;
    margin-inline: auto;
  }
}

.access__button {}

.access__guide {
  margin-top: rem(40);
  padding-top: rem(24);
  padding-inline: rem(16);
  padding-bottom: rem(8);
  border: 1px solid;
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
    margin-inline: auto;
    max-width: rem(1014);
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: rem(24);
    align-items: center;
    padding-top: rem(48);
    padding-bottom: rem(55);
    padding-inline: rem(77);
  }
}

.access__guide-wrap {
  @include mq("md") {
    text-align: left;
    padding-top: rem(8);
  }
}

.access__guide-head {
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(32/20);
  letter-spacing: 0.2em;

  @include mq("md") {
    font-size: rem(26);
    line-height: calc(48/26);
  }
}

.access__guide-text {
  margin-top: rem(8);
  font-size: rem(14);
  line-height: calc(20/14);
  letter-spacing: 0.25em;

  @include mq("md") {
    font-size: rem(16);
    line-height: calc(30/16);
  }
}

.access__guide-logo {
  margin-top: rem(8);
}

.access__guide-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.access__map {
  margin-top: rem(40);
  height: calc(200/392*100vw);

  @include mq("md") {
    margin-top: rem(160);
    margin-inline: calc(50% - 50vw);
    position: relative;
    height: rem(520);
  }
}

.access__map iframe {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 5;
}

.access__fire {
  display: none;

  @include mq("md") {
    display: block;
    position: absolute;
    top: rem(-30);
    right: 0;
    z-index: 10;
  }
}