@use "global" as *;

.course-block {
  background-color: $white;
  padding: rem(16);

  @include mq("md") {
    padding-top: rem(120);
    padding-inline: rem(104);
    padding-bottom: rem(90);
  }
}

.course-block__content {
  @include mq("md") {
    margin-inline: auto;
  }
}

.course-block__wrap {
  display: contents;

  @include mq("md") {
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    gap: rem(32);
    width: fit-content;
    margin-inline: auto;
  }
}

.course-block__label {
  margin-left: rem(-16);
  padding-block: rem(11);
  padding-left: rem(25);
  padding-right: rem(30);
  background-color: $black;
  display: inline-block;
  font-size: rem(16);
  font-weight: $bold;
  color: $white;
  line-height: calc(20/16);
  letter-spacing: 0.2em;
  clip-path: polygon(100% 0, 96% 48%, 100% 100%, 0 100%, 0 0);

  @include mq("md") {
    margin-left: initial;
    font-size: rem(26);
    line-height: calc(48/26);
    align-self: center;
    padding-block: rem(8);
    padding-left: rem(40);
    padding-right: rem(34);
    position: relative;
    top: rem(4);
  }
}

.course-block__title {
  margin-top: rem(24);
  text-align: center;
  font-weight: $bold;
  color: $black;
  overflow-wrap: anywhere;
  word-break: keep-all;

  @include mq("md") {
    margin-top: initial;
  }

}

.course-block__title-main {
  font-size: rem(24);
  line-height: calc(32/24);
  letter-spacing: 0.2em;

  @include mq("md") {
    font-size: rem(40);
    line-height: calc(60/40);
  }
}

.course-block__title-sub {
  margin-top: rem(8);
  font-size: rem(18);
  line-height: calc(24/18);
  letter-spacing: 0;

  @include mq("md") {
    margin-top: rem(8);
    font-size: rem(24);
    line-height: calc(32/24);
    letter-spacing: 0.2em;
  }
}

.course-block__note {
  margin-top: rem(25);
  text-align: right;

  @include mq("md") {
    margin-top: rem(50);
  }
}

.course-block__menu {
  margin-top: rem(8);
  padding: rem(32);
  background-color: $black;

  @include mq("md") {
    display: grid;
    grid-template-columns: rem(280) minmax(0, rem(600));
    gap: min(calc(38/1440*100vw), rem(38));
    align-items: center;
    justify-content: space-around;
    padding-bottom: rem(32);
    padding-inline: rem(60);
    min-height: rem(260)
  }

  @include mq("lg") {
    padding-left: min(calc(104/1440*100vw), rem(104));
    padding-right: min(calc(100/1440*100vw), rem(100));
  }
}

.course-block__menu+.course-block__menu {
  margin-top: rem(16);

  @include mq("md") {
    margin-top: rem(40);
  }
}

.course-block__menu-title {
  font-size: rem(24);
  font-weight: $bold;
  color: $white;
  line-height: calc(32/24);
  letter-spacing: 0.2em;
  text-align: center;

  @include mq("md") {
    font-size: rem(32);
    line-height: 1.63;
    text-align: left;
  }
}

.course-block__menu-red {
  color: $red;
}

.course-block__menu-small {
  margin-top: rem(10);
  display: inline-block;
  font-size: rem(18);
  line-height: calc(24/18);

  @include mq("md") {
    font-size: rem(24);
    line-height: calc(32/24);
  }
}

.course-block__menu-amount {
  margin-left: rem(2);
  display: inline-block;
  font-size: rem(24);
  font-weight: $regular;
  font-family: $second-font;
  line-height: calc(28/24);

  @include mq("md") {
    font-size: rem(32);
    line-height: calc(46/32);
    letter-spacing: 0.1em;
  }
}

.course-block__menu-list {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: initial;
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    justify-content: space-between;
  }
}

.course-block__menu-wrap {
  display: contents;

  @include mq("md") {
    display: block;
  }
}

.course-block__menu-item {}

.course-block__menu-item span {
  display: inline-block;
  padding-left: 0.5em;
  white-space: nowrap;
}

.course-block__menu-white {
  margin-top: rem(16);
  padding: rem(15);
  border: 1px solid;

  @include mq("md") {
    margin-top: rem(40);
    padding-block: rem(40);
    padding-inline: min(calc(104/1440*100vw), rem(104));
  }
}

.course-block__menu-white2 {
  margin-top: rem(16);
  padding: rem(15) rem(16);
  border: 1px solid;
}

.course-block__lineup {}

.course-block__lineup+.course-block__menu-notes {
  margin-top: rem(30);
}

.course-block__menu-note {
  text-align: left;
  text-indent: -1.25em;
  padding-left: 1.25em;
}