@use "global" as *;

.course {
  overflow-x: clip;
  padding-top: rem(80);
}

.layout-course {}

.course__inner {}

.course__container {}

.course__container-black {
  background-color: $black;
  margin-top: rem(40);
  margin-inline: calc(50% - 50vw);
  padding-top: rem(16);
  padding-bottom: rem(70);
  padding-inline: calc(50vw - 50%);
}

.course__heading {}

.course__content {
  margin-top: rem(40);
}

.course__list {}

.course__block {}

.course__block+.course__block {
  margin-top: rem(16);
}