@use "global" as *;

.course {
  overflow-x: clip;
  padding-top: rem(80);

  @include mq("md") {
    padding-top: rem(132);
  }
}

.layout-course {}

.course__inner {}

.course__container {}

.course__container-black {
  background-color: $black;
  margin-top: rem(40);
  padding-top: rem(16);
  padding-bottom: rem(70);

  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(120);
  }
}

.course__heading {}

.course__content {
  margin-top: rem(88);

  @include mq("md") {
    margin-top: rem(80);
  }
}

.course__list {}

.course__block {}

.course__block+.course__block {
  margin-top: rem(16);

  @include mq("md") {
    margin-top: rem(80);
  }
}