@use "global" as *;

.course-block2 {
  background-color: $white;
  padding: rem(16);

  @include mq("md") {
    padding-block: rem(120);
    padding-inline: rem(104);
  }
}

.course-block2__label {
  margin-left: rem(-16);
  padding-block: rem(11);
  padding-left: rem(25);
  padding-right: rem(30);
  background-color: $black;
  display: inline-block;
  font-size: rem(16);
  font-weight: $bold;
  color: $white;
  line-height: calc(20/16);
  letter-spacing: 0.2em;
  clip-path: polygon(100% 0, 96% 48%, 100% 100%, 0 100%, 0 0);

  @include mq("md") {
    margin-left: initial;
    font-size: rem(26);
    line-height: calc(48/26);
    align-self: center;
    padding-block: rem(8);
    padding-left: rem(40);
    padding-right: rem(34);
    position: relative;
    top: rem(4);
  }
}

.course-block2__title {
  margin-top: rem(24);
  text-align: center;
  font-weight: $bold;
  color: $black;
  overflow-wrap: anywhere;
  word-break: keep-all;

  @include mq("md") {
    margin-top: initial;
  }

}

.course-block2__title-main {
  font-size: rem(24);
  line-height: calc(32/24);
  letter-spacing: 0.2em;

  @include mq("md") {
    font-size: rem(40);
    line-height: calc(60/40);
  }
}

.course-block2__title-sub {
  margin-top: rem(8);
  font-size: rem(18);
  line-height: calc(24/18);
  letter-spacing: 0;

  @include mq("md") {
    margin-top: rem(8);
    font-size: rem(24);
    line-height: calc(32/24);
    letter-spacing: 0.2em;
  }
}

.course-block2__note {
  margin-top: rem(25);
  text-align: right;

  @include mq("md") {
    margin-top: rem(50);
  }
}

.course-block2__menu-wrap {
  display: contents;

  @include mq("md") {
    margin-top: rem(8);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40);
  }
}

.course-block2__menu {
  margin-top: rem(8);
  padding: rem(32);
  background-color: $black;

  @include mq("md") {
    margin-top: initial;
    padding-block: min(calc(40/1440*100vw), rem(40));
    padding-inline: min(calc(80/1440*100vw), rem(80));
  }
}

.course-block2__menu--delta {
  @extend .course-block2__menu;

  @include mq("md") {
    padding-top: rem(45);
    padding-bottom: rem(35);
  }
}

.course-block2__menu+.course-block2__menu {
  margin-top: rem(16);

  @include mq("md") {
    margin-top: initial;
  }
}

.course-block2__menu-title {
  font-size: rem(24);
  font-weight: $bold;
  color: $white;
  line-height: calc(32/24);
  letter-spacing: 0.2em;
  text-align: center;

  @include mq("md") {
    font-size: clamp(18px, calc(32/1440*100vw), 32px);
    line-height: calc(50/32);
    text-align: left;
    padding-inline: rem(8);
  }
}

.course-block2__menu-small {
  margin-top: rem(10);
  display: inline-block;
  font-size: rem(18);
  line-height: calc(24/18);

  @include mq("md") {
    margin-top: initial;
    font-size: clamp(14px, calc(24/1440*100vw), 24px);
    line-height: calc(32/24);
  }
}

.course-block2__menu-amount {
  margin-left: rem(2);
  display: inline-block;
  font-size: rem(24);
  font-weight: $regular;
  font-family: $second-font;
  line-height: calc(28/24);

  @include mq("md") {
    font-size: clamp(18px, calc(32/1440*100vw), 32px);
    line-height: calc(46/32);
    letter-spacing: 0.1em;
  }
}

.course-block2__menu-list {
  margin-top: rem(24);
}

.course-block2__menu-item {}

.course-block2__menu-item span {
  display: inline-block;
  padding-left: 0.5em;
  white-space: nowrap;
}

.course-block2__menu-white {
  margin-top: rem(16);
  padding: rem(15) rem(18);
  border: 1px solid;

  @include mq("md") {
    margin-top: rem(40);
    padding-block: rem(40);
    padding-inline: min(calc(104/1440*100vw), rem(104));
  }
}

.course-block2__menu-note {
  text-align: left;
  text-indent: -1.25em;
  padding-left: 1.25em;
}