@use "global" as *;

.cta {
  position: fixed;
  bottom: 0;
  left: 0;
  width: fit-content;
  display: flex;
  gap: rem(4);
  z-index: 800;

  @include mq("md") {
    bottom: rem(16);
    gap: rem(16);
    flex-direction: column;
    align-items: center;
  }
}

.cta__reservation {
  display: block;
  font-size: rem(14);
  color: $white;
  line-height: calc(20/14);
  letter-spacing: 0.25em;
  background-color: $black;
  width: min(calc(324/392*100vw), rem(324));
  padding-top: rem(20);
  padding-bottom: rem(23);
  text-align: center;

  @include mq("md") {
    width: rem(56);
    padding-top: rem(42);
    padding-bottom: rem(36);
    letter-spacing: 0.4em;
  }
}

.cta__reservation span {
  position: relative;
  padding-left: rem(52);
  display: inline-grid;
  place-items: center;

  @include mq("md") {
    padding-top: rem(60);
    padding-left: initial;
    writing-mode: vertical-rl;
    text-orientation: upright;
    align-items: center;
  }
}

.cta__reservation span::before {
  content: "";
  position: absolute;
  background-image: url(../images/icon-calendar02.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(40);
  aspect-ratio: 1/1;
  left: 0;

  @include mq("md") {
    left: initial;
    top: 0;
  }
}

.cta__instagram {
  width: rem(64);

  @include mq("md") {
    width: rem(40);
  }
}

.cta__instagram img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (any-hover: hover) {
  .cta__reservation:hover {
    opacity: 0.5;
  }

  .cta__instagram:hover {
    opacity: 0.5;
  }
}