@use "global" as *;

.drink {
  overflow-x: clip;
}

.layout-drink {}

.drink__inner {}

.drink__container {}

.drink__container-black {
  background-color: $black;
  padding-top: rem(68);
  padding-bottom: rem(100);
  padding-inline: calc(50vw - 50%);
  margin-inline: calc(50% - 50vw);
}

.drink__note {
  text-align: right;
}

.drink__heading {
  margin-top: rem(52);
}

.drink__content {
  margin-top: rem(40);
}

.drink__grid {
  margin-inline: calc(50% - 50vw);
}

.drink__button {
  margin-top: rem(40);
  text-align: center;
}