@use "global" as *;

.food-grid2 {
  background-color: $black;
  padding-top: rem(40);
  padding-bottom: rem(100);
  overflow-x: clip;

  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(120);
  }
}

.food-grid2__head {
}

.food-grid2__text {
  margin-top: rem(40);
  padding-inline: $padding-sp;

  @include mq("md") {
    padding-inline: $padding-pc;
    width: 100%;
    max-width: rem(1274);
    margin-inline: auto;
  }
}

.food-grid2__images {
  margin-top: rem(68);

  @include mq("md") {
    margin-top: rem(40);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.food-grid2__img+.food-grid2__img {
  margin-top: rem(68);

  @include mq("md") {
    margin-top: initial;
  }
}

.food-grid2__img+.food-grid2__img:has(.food-photo--square2) {
  margin-top: rem(107);
}

.food-grid2__button {
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}