@use "global" as *;

.food4 {
  padding-top: rem(67);
  padding-bottom: rem(100);
  background-color: $black;

  @include mq("md") {
    padding-top: initial;
    padding-bottom: rem(120);
  }
}

.food4__head {
  // margin-left: calc(50% - 50vw);
}

.food4__images {
  display: contents;

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.food4__img+.food4__img {
  margin-top: rem(68);

  @include mq("md") {
    margin-top: initial;
  }
}

.food4__img+.food4__img:has(.food-photo--square2) {
  margin-top: rem(107);

  @include mq("md") {
    margin-top: initial;
  }
}