@use "global" as *;

.food-block {
  position: relative;
}

.food-block--reverse,
.food-block--lunch {
  @extend .food-block;
}

.food-block__head {
  position: relative;
  z-index: 1;
  margin-left: calc(50% - 50vw);
}

.food-block--lunch .food-block__head {
  position: absolute;
  top: rem(-48);
  left: 0;
}

.food-block__img {
  margin-inline: calc(50% - 50vw);

  @include mq("md") {
    margin-right: initial;
    flex: 1;
  }
}

.food-block:has(.food-block__head) .food-block__img {
  margin-top: rem(-14);

  @include mq("md") {
    margin-right: calc(50% - 50vw);
    margin-left: initial;
  }
}

.food-block__text {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: initial;
    padding-inline: rem(16);
    width: calc(492/1224*100%);
  }
}

.food-block__info {
  margin-top: rem(16);
}

.food-block__note {
  font-size: rem(14);
  color: $white;
  line-height: calc(20/14);
  letter-spacing: 0.25em;
  text-indent: -1.25em;
  padding-left: 1.25em;
}

.food-block__images {
  margin-top: rem(40);
  margin-inline: calc(50% - 50vw);
}

.food-block__images--square {
  @extend .food-block__images;
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(68);
}

.food-block__drink {
  background-color: $white;
  margin-inline: calc(50% - 50vw);
  padding-top: rem(68);
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(68);
}

.food-block__button {
  margin-top: rem(40);
}