@use "global" as *;

.food {
  overflow-x: clip;
  padding-top: rem(3);
  padding-bottom: rem(40);

  @include mq("md") {
    padding-top: rem(6);
    padding-bottom: initial;
  }
}

.food--black {
  @extend .food;
  background-color: $black;
  padding-top: rem(40);
  padding-bottom: rem(36);

  @include mq("md") {
    padding-bottom: rem(80);
  }
}

.food--grid {
  @extend .food;
  padding-top: rem(40);
}

.food__note {
  text-align: right;
  padding-inline: rem(16);

  @include mq("md") {
    padding-inline: rem(8);
  }
}

.food__heading {
  margin-top: rem(52);

  @include mq("md") {
    margin-top: rem(54);
  }
}

.food__container {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(80);
  }
}

.food__container2 {
  // margin-top: rem(40);

  // @include mq("md") {
  //   margin-top: initial;
  // }
}

.food__container-black {
  margin-top: rem(40);
  margin-inline: calc(50% - 50vw);
  padding-inline: calc(50vw - 50%);
  padding-top: rem(40);
  padding-bottom: rem(36);
  background-color: $black;

  @include mq("md") {
    margin-top: initial;
    padding-top: initial;
    padding-bottom: rem(80);
  }
}

.food__container-black2 {
  // margin-top: initial;
  // padding-top: rem(40);
  // margin-inline: calc(50% - 50vw);
  // background-color: $black;

  // @include mq("md") {
  //   padding-top: rem(80);
  // }
}

.food__container-black3 {
  // padding-top: rem(40);
  // padding-bottom: rem(100);
  // padding-inline: calc(50vw - 50%);
  // margin-inline: calc(50% - 50vw);
  // background-color: $black;

  // @include mq("md") {
  //   padding-top: rem(80);
  //   padding-bottom: rem(120);
  // }
}

.food__content {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(80);
  }
}

.foode__content--2 {
  // margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(80);
  }
}

.food--black .food__content {
  margin-top: initial;

  @include mq("md") {
    margin-top: initial;
  }
}

.food__content+.food__content {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: initial;
  }
}

.food__menu+.food__content {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(80);
  }
}

.food__menu {
  margin-top: rem(40);
  padding-inline: $padding-sp;

  @include mq("md") {
    margin-top: rem(80);
    margin-inline: auto;
    padding-inline: $padding-pc;
    max-width: 1302px;
  }

  @include mq("lg") {
    max-width: min(calc(1302/1440*100vw), 1690px);
  }
}

.food__grid {}

.food__button {
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}