@use "global" as *;

.food-grid4 {}

.food-grid4__head {
  margin-left: calc(50% - 50vw);
}

.food-grid4__text {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(80);
  }
}

.food-grid4__images {
  margin-top: rem(40);
}

.food-grid4__img {
  margin-inline: calc(50% - 50vw);
}
