@use "global" as *;

.grid-block {
  padding-top: rem(40);
  overflow-x: clip;

  @include mq("md") {
    padding-top: initial;
  }
}

.grid-block__container {
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "text img1"
      "img2 img1";
    position: relative;
  }
}

.grid-block__head {
  @include mq("md") {
    position: absolute;
    top: clamp(rem(55), calc(55/1440*100vw), rem(80));
    left: calc(50% - min(50vw, rem(780)));
  }
}

.grid-block__text {
  margin-top: rem(24);
  padding-inline: calc(16/392*100vw);

  @include mq("md") {
    margin-top: initial;
    grid-area: text;
    padding-top: clamp(rem(162), calc(162/1440*100vw), rem(200));
    padding-bottom: rem(40);
    padding-inline: $padding-pc;
    display: grid;
    justify-content: center;
  }
}

.grid-block__text .text {
  @include mq("md") {
    max-width: rem(460);
  }
}

.grid-block__images {
  margin-top: rem(40);
  // margin-inline: calc(50% - 50vw);
  display: flex;
  flex-wrap: wrap;

  @include mq("md") {
    display: contents;
  }
}

.grid-block__img1 {
  @include mq("md") {
    grid-area: img1;
  }
}

.grid-block__images2 {
  display: flex;

  @include mq("md") {
    grid-area: img2;
  }
}

.grid-block__img2 {
  width: 100%;
}

.grid-block__img1 img,
.grid-block__img2 img,
.grid-block__img3 img {
  aspect-ratio: 196/283;
  width: 100%;
  height: 100%;
  object-fit: cover;
}