@use "global" as *;

.grid-block2 {
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "text img1"
      "img2 img1";
    position: relative;
  }
}

.grid-block2__head {
  @include mq("md") {
    position: absolute;
    top: min(calc(115/1440*100vw), rem(115));
    left: calc(50% - min(50vw, rem(800)));
  }
}

.grid-block2__text {
  margin-top: rem(24);
  padding-inline: calc(16/392*100vw);

  @include mq("md") {
    margin-top: initial;
    padding-top: clamp(rem(150), calc(225/1440*100vw), rem(240));
    padding-inline: $padding-pc;
    padding-bottom: rem(32);
    display: grid;
    justify-content: center;
    grid-area: text;
  }
}

.grid-block2__text .text {
  @include mq("md") {
    max-width: rem(460);
  }
}

.grid-block2__images {
  margin-top: rem(40);

  @include mq("md") {
    display: contents;
  }
}

.grid-block2__img {
  margin-inline: calc(50% - 50vw);

  @include mq("md") {
    margin-inline: initial;
    grid-area: img1;
  }
}

.grid-block2__img:nth-child(2) {
  @include mq("md") {
    grid-area: img2;
  }
}