@use "global" as *;

.grid-block2 {
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    position: relative;
    margin-inline: calc(50% - 50vw);
  }
}

.grid-block2__head {
  margin-left: calc(50% - 50vw);

  @include mq("md") {
    position: absolute;
    top: rem(115);
    // left: 0;
  }
}

.grid-block2__text {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: initial;
    margin-inline: auto;
    grid-area: 1 / 1 / 2 / 3;
    max-width: $inner + strip-unit($padding-pc) * 2;
    width: 100%;
    padding-top: rem(225);
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    padding-bottom: rem(32);
  }
}

.grid-block2__text .text {
  @include mq("md") {
    padding-inline: rem(22);
    width: calc(504/1224*100%);
  }
}

.grid-block2__images {
  margin-top: rem(40);

  @include mq("md") {
    display: contents;
  }
}

.grid-block2__img {
  margin-inline: calc(50% - 50vw);

  @include mq("md") {
    margin-inline: initial;
    grid-area: 1 / 2 / 3 / 3;
  }
}

.grid-block2__img:nth-child(2) {
  @include mq("md") {
    grid-area: 2 / 1 / 3 / 2;
  }
}