@use "global" as *;

.head {
  position: relative;
  color: $white;
  display: inline-block;
  width: fit-content;
  z-index: 1;

  @include mq("md") {
    padding-left: rem(48);
    padding-right: rem(36);
    white-space: nowrap;
  }
}

.head::before {
  @include mq("md") {
    content: "";
    position: absolute;
    inset: 0 100% 0 0;
    background-color: $black;
  }
}

.head__line {
  position: relative;
  padding-left: rem(16);
  padding-right: rem(14);
  display: inline-block;

  @include mq("md") {
    padding-block: rem(8);
    padding-inline: initial;
  }
}

.head__line::before {
  content: "";
  position: absolute;
  inset: 0 100% 0 0;
  background-color: $black;

  @include mq("md") {
    content: none;
  }
}

.head__line:nth-of-type(2) {
  transform: translateX(70%);

  @include mq("md") {
    transform: initial;
    padding-inline: initial;
  }
}

.head__text {
  font-size: clamp(10px, calc(20/392*100vw), rem(24));
  font-weight: $bold;
  line-height: calc(32/20);
  letter-spacing: 0.2em;
  opacity: 0;
  position: relative;

  @include mq("md") {
    font-size: rem(32);
    line-height: calc(54/32);
  }
}

.head__text {
  @include mq("md") {
    margin-left: rem(-8);
  }
}

.head__red {
  color: $red;
}

.head--delta1,
.head--delta2,
.head--delta3 {
  @extend .head;
}

.head--delta1 .head__line:nth-of-type(2) {
  transform: translateX(40%);

  @include mq("md") {
    transform: initial;
  }
}

.head--delta2 .head__line:nth-of-type(2) {
  transform: translateX(92%);

  @include mq("md") {
    transform: initial;
  }
}

.head--delta3 .head__line:nth-of-type(2) {
  transform: translateX(30%);

  @include mq("md") {
    transform: initial;
  }
}

.head--white1,
.head--white2,
.head--white3 {
  @extend .head;
  color: initial;

  @include mq("md") {
  }
}

.head--white1::before,
.head--white2::before,
.head--white3::before {
  @include mq("md") {
    background-color: $white;
  }
}

.head--white1 .head__line:nth-of-type(2) {
  transform: translateX(40%);

  @include mq("md") {
    transform: initial;
  }
}

.head--white2 .head__line:nth-of-type(2) {
  transform: translateX(53%);

  @include mq("md") {
    transform: initial;
  }
}

.head--white3 .head__line:nth-of-type(2) {
  transform: translateX(28%);

  @include mq("md") {
    transform: initial;
  }
}

.head--white1 .head__line::before,
.head--white2 .head__line::before,
.head--white3 .head__line::before {
  background-color: $white;
}

.head.js-slideIn::before {
  @include mq("md") {
    animation: slideLine 0.7s forwards;
  }
}

.head__line.js-slideIn::before {
  animation: slideLine 0.7s forwards;

  @include mq("md") {
    animation: none;
  }
}

@keyframes slideLine {
  100% {
    inset: 0;
  }
}

.head__text.js-slideIn {
  animation: slideText 0.7s forwards;
  animation-delay: 0.6s;
}

@keyframes slideText {
  100% {
    opacity: 1;
  }
}