@use "global" as *;

.head-line {
  display: inline-block;
  background-color: $white;
}

.head-line__text {
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(32/20);
  letter-spacing: 0.2em;
}

.head-line__text span {
  color: $red;
}
