@use "global" as *;

.head {
  position: relative;
  color: $white;
  display: inline-block;
  width: fit-content;
  z-index: 1;

  @include mq("md") {
    padding-inline: rem(40);
    white-space: nowrap;
  }
}

.head::before {
  @include mq("md") {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $black;
  }
}

.head__line {
  position: relative;
  font-size: clamp(10px, calc(20/392*100vw), rem(24));
  font-weight: $bold;
  line-height: calc(32/20);
  letter-spacing: 0.2em;
  padding-inline: rem(16);
  display: inline-block;
  // z-index: 1;

  @include mq("md") {
    padding-block: rem(8);
    padding-inline: initial;
    font-size: rem(32);
    line-height: calc(54/32);
  }
}

.head__line:nth-of-type(2) {
  transform: translateX(70%);

  @include mq("md") {
    transform: initial;
    padding-inline: initial;
  }
}

.head__line::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: $black;
  z-index: -1;
  // animation: line 1s infinite;

  @include mq("md") {
    content: none;
  }
}

.head__red {
  color: $red;
}

.head--delta1,
.head--delta2 {
  @extend .head;
}

.head--delta1 .head__line:nth-of-type(2) {
  transform: translateX(40%);

  @include mq("md") {
    transform: initial;
  }
}

.head--delta2 .head__line:nth-of-type(2) {
  transform: translateX(90%);

  @include mq("md") {
    transform: initial;
  }
}

.head--white1,
.head--white2,
.head--white3 {
  @extend .head;
  color: initial;

  @include mq("md") {
    padding-inline: rem(36);
  }
}

.head--white1::before,
.head--white2::before,
.head--white3::before {
  @include mq("md") {
    background-color: $white;
  }
}

.head--white1 .head__line:nth-of-type(2) {
  transform: translateX(40%);

  @include mq("md") {
    transform: initial;
  }
}

.head--white2 .head__line:nth-of-type(2) {
  transform: translateX(53%);

  @include mq("md") {
    transform: initial;
  }
}

.head--white3 .head__line:nth-of-type(2) {
  transform: translateX(28%);

  @include mq("md") {
    transform: initial;
  }
}

.head--white1 .head__line::before,
.head--white2 .head__line::before,
.head--white3 .head__line::before {
  background-color: $white;
}

@keyframes line {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}