@use "global" as *;

.infomation {
  padding-block: rem(78);

  @include mq("md") {
    padding-block: rem(132);
  }
}

.infomation__inner {}

.infomation__heading {}

.infomation__list {
  margin-top: rem(40);
  border-top: 1px solid;

  @include mq("md") {
    margin-top: rem(80);
  }
}

.infomation__item {
  padding-block: rem(23);
  border-bottom: 1px solid;

  @include mq("md") {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: min(calc(138/1440*100vw), rem(138));
    align-items: center;
  }
}

.infomation__date {
  font-size: rem(24);
  font-family: $second-font;
  line-height: calc(28/24);
  letter-spacing: 0.2em;
}

.infomation__text {
  margin-top: rem(8);

  @include mq("md") {
    margin-top: initial;
  }
}