@use "global" as *;

.information {
  padding-top: rem(72);
  padding-bottom: rem(78);

  @include mq("md") {
    padding-block: rem(132);
  }
}

.information__inner {}

.information__heading {}

.information__list {
  margin-top: rem(40);
  border-top: 1px solid;

  @include mq("md") {
    margin-top: rem(80);
  }
}

.information__item {
  padding-block: rem(24);
  border-bottom: 1px solid;

  @include mq("md") {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: min(calc(138/1440*100vw), rem(138));
    align-items: center;
  }
}

.information__date {
  font-size: rem(24);
  font-family: $second-font;
  line-height: calc(28/24);
  letter-spacing: 0.2em;
}

.information__text {
  margin-top: rem(8);

  @include mq("md") {
    margin-top: initial;
  }
}