@use "global" as *;

.lunch {
  overflow-x: clip;
  padding-top: rem(72);

  @include mq("md") {
    padding-top: rem(128);
  }
}

.lunch__inner {}

.lunch__heading {}

.lunch__container {
  margin-top: rem(102);

  @include mq("md") {
    margin-top: rem(80);
  }
}

.lunch__top {
  position: relative;
}

.lunch__img {
  margin-top: rem(-14);

  @include mq("md") {
    margin-top: initial;
    margin-inline: calc(50% - 50vw);
    height: clamp(rem(520), calc(520/1440*100vw), rem(720));
  }
}

.lunch__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include mq("md") {
    object-position: center 60%;
  }
}

.lunch__head {
  position: absolute;
  top: rem(-48);
  left: 0;

  @include mq("md") {
    top: rem(65);
    left: initial;
    right: calc(50% - 50vw);
  }
}

.lunch__body {
  background-color: $black;
  padding-top: rem(24);
  padding-bottom: rem(100);
  padding-inline: $padding-sp;

  @include mq("md") {
    padding-top: rem(40);
    padding-bottom: rem(120);
    padding-inline: $padding-pc;
  }

  @include mq("xl") {
    margin-inline: calc(50% - 50vw);
    padding-inline: calc(50vw - 50%);
  }
}

.lunch__text {
  @include mq("md") {
    margin-inline: auto;
    padding-block: initial;
    padding-inline: $padding-pc;
    width: 100%;
    max-width: rem(1268);
  }
}

.lunch__button {
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}