@use "global" as *;

.lunch {
  overflow-x: clip;
  padding-top: rem(70);
}

.layout-lunch {}

.lunch__inner {}

.lunch__hading {}

.lunch__container {
  background-color: $black;
  // margin-top: rem(88);
  margin-top: rem(102);
  margin-inline: calc(50% - 50vw);
  padding-inline: calc(50vw - 50%);
  padding-bottom: rem(100);
  // position: relative;
}

.lunch__content {
  // margin-top: rem(40);

  // @include mq("md") {
  //   margin-top: rem(80);
  // }
}

.lunch__button {
  margin-top: rem(40);
  text-align: center;
}