@use "global" as *;

.menu-button {
  display: inline-grid;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-color: $white;
  padding-top: rem(17);
  padding-bottom: rem(15);
  padding-right: rem(60);
  padding-left: rem(46);
  font-size: rem(18);
  font-weight: $bold;
  line-height: calc(24/18);
  letter-spacing: 0.2em;
  width: min(100%, rem(360));
  transition: background-color 0.3;

  @include mq("md") {
    font-size: rem(32);
    line-height: calc(54/32);
    padding: rem(33) rem(112);
    width: min(100%, rem(1016));
    justify-content: center;
  }
}

.menu-button::after {
  position: absolute;
  content: "";
  right: rem(16);
  width: rem(43);
  aspect-ratio: 1/1;
  background-color: $black;
  mask-image: url(../images/icon-menu.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: background-color 0.3s;

  @include mq("md") {
    width: rem(80);
    right: rem(32);
  }
}

.menu-button__text {
  display: inline-grid;
  align-items: center;
  text-align: center;
  padding-left: rem(68);
  padding-right: rem(24);
  transition: color 0.3s;
  position: relative;

  @include mq("md") {
    padding-inline: rem(119);
  }
}

.menu-button__text::before,
.menu-button__text::after {
  position: absolute;
  content: "";
  background-color: $red;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: background-color 0.3s, transform 0.3s;
}

.menu-button__text::before {
  mask-image: url(../images/icon-meat.svg);
  left: 0;
  width: rem(54);
  height: rem(54);
  transform: rotate(-36deg);

  @include mq("md") {
    width: rem(82);
    height: rem(82);
  }
}

.menu-button__text::after {
  mask-image: url(../images/icon-stick.svg);
  right: 0;
  width: rem(16);
  height: rem(52);
  transform: rotate(15deg);

  @include mq("md") {
    width: rem(25);
    height: rem(83);
    right: rem(58);
  }
}

.menu-button--drink {
  @extend .menu-button;
  padding-right: rem(60);
  padding-left: rem(32);
}

.menu-button--drink .menu-button__text {
  padding-left: rem(44);
  padding-right: rem(28);

  @include mq("md") {
    padding-inline: rem(72);
  }
}

.menu-button--drink .menu-button__text::before,
.menu-button--drink .menu-button__text::after {
  width: rem(19);
  height: rem(47);

  @include mq("md") {
    width: rem(35);
    height: rem(87);
  }
}

.menu-button--drink .menu-button__text::before {
  mask-image: url(../images/icon-glass.svg);
  transform: rotate(-20deg);
}

.menu-button--drink .menu-button__text::after {
  mask-image: url(../images/icon-glass.svg);
  transform: rotate(20deg);

  @include mq("md") {
    right: 0;
  }
}

.menu-button--lunch {
  @extend .menu-button;
  padding-right: rem(60);
  padding-left: rem(56);
}

.menu-button--lunch .menu-button__text {
  padding-inline: rem(28);

  @include mq("md") {
    padding-inline: rem(74);
  }
}

.menu-button--lunch .menu-button__text::before {
  mask-image: url(../images/icon-fork.svg);
  transform: rotate(-20deg);
  width: rem(19);
  height: rem(60);

  @include mq("md") {
    width: rem(21);
    height: rem(87);
  }
}

.menu-button--lunch .menu-button__text::after {
  mask-image: url(../images/icon-spoon.svg);
  transform: rotate(20deg);
  width: rem(19);
  height: rem(60);

  @include mq("md") {
    width: rem(26);
    height: rem(87);
    right: 0;
  }
}

@media (any-hover: hover) {
  .menu-button:hover {
    background-color: $red;
    color: $white;
  }

  .menu-button:hover::after {
    background-color: $white;
  }

  .menu-button:hover .menu-button__text::before,
  .menu-button:hover .menu-button__text::after {
    background-color: $white;
    transform: initial
  }
}