@use "global" as *;

.menu {
  background-color: $white;
  padding-top: rem(16);
  padding-bottom: rem(48);
  padding-left: rem(16);
  padding-right: rem(14);

  @include mq("md") {
    padding-block: rem(80);
    padding-inline: rem(118);
    display: grid;
  }
}


.menu__note {
  font-size: 10px;
  line-height: calc(20/10);
  letter-spacing: 0.25em;
  text-align: right;

  @include mq("md") {
    margin-top: rem(10);
    order: 2;
    font-size: clamp(10px, calc(12 / 1440 * 100vw), 12px);
  }
}

.menu__note:not(:first-child) {
  margin-top: rem(40);

  @include mq("md") {
    order: 4;
    margin-top: rem(60);
  }
}

.menu__head {
  margin-top: rem(12);
  text-align: center;

  @include mq("md") {
    margin-top: initial;
    order: 1;
  }
}

.menu__head-sub {
  font-size: rem(28);
  font-family: $second-font;
  line-height: calc(41/28);
  letter-spacing: 0.25em;
  text-transform: uppercase;

  @include mq("md") {
    font-size: rem(32);
    line-height: calc(46/32);
  }
}

.menu__head-main {
  margin-top: rem(5);
  font-size: rem(14);
  line-height: calc(20/14);
  letter-spacing: 0.25em;

  @include mq("md") {
    margin-top: initial;
  }
}

.menu__body {
  margin-top: rem(24);
  display: flex;
  gap: rem(40);

  @include mq("md") {
    margin-top: rem(6);
    display: block;
    order: 3;
  }
}

.menu__category {
  display: grid;
  grid-template-rows: auto 1fr auto 1fr auto;
  place-items: center;
  gap: rem(14);
  align-content: space-between;

  @include mq("md") {
    grid-template-columns: auto 1fr auto 1fr auto;
    grid-template-rows: initial;
    justify-content: space-between;
  }
}

.menu__arrow-prev,
.menu__arrow-next {
  position: relative;
  width: rem(9);
  height: 100%;

  @include mq("md") {
    width: 100%;
    height: rem(11);
  }
}

.menu__arrow-prev::before,
.menu__arrow-next::before {
  content: "";
  position: absolute;
  top: 0;
  left: rem(4);
  width: 100%;
  height: 100%;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;

  @include mq("md") {
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/pc/arrow.svg);
    background-position: center;
  }
}


.menu__arrow-next {
  transform: scale(1, -1);

  @include mq("md") {
    transform: scale(-1, 1);
  }
}

.menu__taste {
  background-color: $red;
  padding-top: rem(10);
  padding-bottom: rem(4);
  font-size: rem(16);
  color: $white;
  line-height: 1;
  letter-spacing: 0.56em;
  padding-inline: rem(8);
  height: fit-content;
  display: grid;

  @include mq("md") {
    width: initial;
    writing-mode: initial;
    letter-spacing: 0.25em;
    padding-top: rem(8);
    padding-bottom: rem(8);
    padding-inline: rem(12);
  }
}

.menu__taste span {
  writing-mode: vertical-lr;
  white-space: pre;
  display: inline-block;
  width: 100%;

  @include mq("md") {
    writing-mode: initial;
    display: flex;
    align-items: center;
  }
}

.menu__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: rem(8);

  @include mq("md") {
    margin-top: rem(70);
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu__item {
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, auto);
    writing-mode: vertical-rl;
    align-items: center;
    gap: rem(6);
  }
}

.menu__name {
  font-size: rem(16);
  line-height: calc(30/16);
  letter-spacing: 0.25em;

  @include mq("md") {
    line-height: 1;
    letter-spacing: 0.5em;
  }
}

.menu__amount {
  text-align: right;
  font-size: rem(20);
  font-family: $second-font;
  line-height: calc(28/20);
  letter-spacing: 0.2em;

  @include mq("md") {
    text-orientation: upright;
    font-size: rem(24);
    line-height: 1;
  }
}