@use "global" as *;

.mv {
  position: relative;
  height: 100dvh;
  min-height: rem(660);
  background-color: $black;
}

.mv::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $black;
  width: rem(344);
  aspect-ratio: 344/304;
  z-index: 1;
  clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 0);
}

.mv__swiper {
  height: inherit;
  min-height: inherit;
}

.mv__wrapper {
  height: inherit;
  min-height: inherit;
}

.mv__slide {
  height: inherit;
  min-height: inherit;
}

.mv__slide img {
  aspect-ratio: 1440/1024;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 29%;

  @include mq("sm") {
    object-position: 7.5%;
  }

  @include mq("md") {
    object-position: initial;
  }
}

.mv__title {
  font-size: rem(12);
  color: $white;
  line-height: calc(20/12);
  letter-spacing: 0.25em;
  position: absolute;
  top: rem(16);
  left: rem(16);
  z-index: 1;
  overflow-wrap: anywhere;
  word-break: keep-all;
  padding-right: rem(68);

  @include mq("md") {
    top: rem(32);
    left: rem(32);
    font-size: rem(16);
    line-height: calc(30/16);
  }
}

.mv__logo {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 1;
  width: min(calc(240/392*100vw), rem(300));

  @include mq("md") {
    width: rem(392);
  }
}

.mv__logo img {
  aspect-ratio: 171/175;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mv__catch {
  position: absolute;
  z-index: 2;
  bottom: rem(26);
  right: rem(44);
  width: rem(206);

  @include mq("md") {
    width: rem(230);
  }
}

.mv__catch img {
  aspect-ratio: 206/136;
  width: 100%;
  height: 100%;
  object-fit: contain;
}