@use "global" as *;

.section-head {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(44);
  place-items: center;
  position: relative;

  @include mq("md") {
    width: fit-content;
    grid-template-columns: repeat(2, auto);
    gap: rem(108);
    place-content: center;
    margin-inline: auto;
  }
}

.section-head::before {
  content: "";
  position: absolute;
  width: rem(52);
  height: rem(12);
  background-image: url("../images/icon-bone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: rem(12);

  @include mq("md") {
    background-image: url("../images/pc/icon-bone.svg");
    width: rem(28);
    height: rem(120);
    left: rem(342);
  }
}

.section-head__sub {
  font-size: rem(32);
  font-family: $second-font;
  line-height: calc(46/32);
  letter-spacing: 0.25em;
  text-transform: uppercase;

  @include mq("md") {
    font-size: rem(80);
    line-height: calc(116/80);
  }
}

.section-head__main {
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(32/20);
  letter-spacing: 0.2em;

  @include mq("md") {
    font-size: rem(56);
    line-height: calc(80/56);
  }
}

.section-head--white1 {
  @extend .section-head;
  color: $white;
}