@use "global" as *;

.thumbnail {
  padding-inline: rem(32);

  @include mq("md") {
    padding-inline: rem(80);
  }
}

.thumbnail::before,
.thumbnail::after {
  content: "";
  position: absolute;
  inset-block: 0;
  width: rem(32);
  background-color: rgb($white, 0.7);
  z-index: 2;

  @include mq("md") {
    width: rem(80);
  }
}

.thumbnail::before {
  left: 0;
}

.thumbnail::after {
  right: 0;
}

.thumbnail__wrapper {}

.swiper-wrapper {}

.thumbnail__slide {
  width: 100%;

  @include mq("md") {
    width: calc(480/1280*100%);
  }
}

.thumbnail__slide img {
  aspect-ratio: 328/232;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail__prev {
  left: 0;

  @include mq("md") {
    left: rem(26);
  }
}

.thumbnail__next {
  right: 0;

  @include mq("md") {
    right: rem(26);
  }
}

%thumbnail-button {
  text-rendering: optimizespeed;
  width: rem(15);
  height: rem(31);
  content: "";
  background-image: url(../images/icon-swiper.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;

  @include mq("md") {
    background-image: url(../images/pc/icon-swiper.svg);
    width: rem(33);
    height: rem(72);
  }
}

.thumbnail__prev::after {
  @extend %thumbnail-button;
}

.thumbnail__next::after {
  @extend %thumbnail-button;
  transform: scale(-1, 1);
}