@use "global" as *;

.thumbnail {
  padding-inline: rem(32);
  width: 100%;
  height: 100%;

  @include mq("md") {
    padding-inline: rem(80);
  }
}

.thumbnail::before {
  left: 0;
}

.thumbnail::after {
  right: 0;
}

.thumbnail__wrapper {}

.swiper-wrapper {}

.thumbnail__slide {
  width: 100%;

  @include mq("md") {
    width: calc(480/1280*100%);
  }
}

.thumbnail__slide img {
  aspect-ratio: 328/232;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%thumbnail-button {
  margin-top: initial;
  width: rem(32);
  height: 100%;
  background-color: rgb($white, 0.7);
  top: 0;
  transition: background-color 0.3s;

  @include mq("md") {
    width: rem(80);
  }
}

.thumbnail__prev {
  @extend %thumbnail-button;
  left: 0;


  @include mq("md") {
    width: rem(80);
  }
}

.thumbnail__next {
  @extend %thumbnail-button;
  right: 0;
}

%thumbnail-arrow {
  text-rendering: optimizespeed;
  width: rem(15);
  height: rem(31);
  content: "";
  background-image: url(../images/icon-swiper.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  transition: opacity 0.3s;

  @include mq("md") {
    background-image: url(../images/pc/icon-swiper.svg);
    width: rem(33);
    height: rem(72);
  }
}

.thumbnail__prev::after {
  @extend %thumbnail-arrow;
}

.thumbnail__next::after {
  @extend %thumbnail-arrow;
  transform: scale(-1, 1);
}

@media (any-hover: hover) {

  .thumbnail__prev:hover,
  .thumbnail__next:hover {
    background-color: rgb($white, 0.5);
  }
}